In [1]:
import sys
import os
# Adding the src directory to the Python path
sys.path.append(os.path.abspath('../src'))
from utils import load_datasets
from recommending_movies import get_similar_results_using_collaborative_filtering
import pandas as pd

In [8]:
# Setting the variables
dataset_dirctory_path = '../datasets/'
ratings_count_threshold = 100

In [3]:
# Loading the datasets
movie_df, tag_df, rating_df = load_datasets(dataset_dirctory_path)

In [4]:
#selecting proper column
tag_df = tag_df[["userId", "movieId", "tag"]]
rating_df = rating_df[["userId", "movieId", "rating"]]
movie_df = movie_df[["title","movieId", "genres"]]

In [9]:
# Gettign the results
results = get_similar_results_using_collaborative_filtering(movie_df, rating_df,ratings_count_threshold)

results

<bound method DataFrame.info of        userId  movieId  rating                        title  \
0           1        1     4.0             Toy Story (1995)
1           1        6     4.0                  Heat (1995)
2           1       47     5.0  Seven (a.k.a. Se7en) (1995)
3           1       50     5.0   Usual Suspects, The (1995)
4           1      110     4.0            Braveheart (1995)
...       ...      ...     ...                          ...
19783     610    48516     5.0         Departed, The (2006)
19784     610    58559     4.5      Dark Knight, The (2008)
19785     610    60069     4.5                WALLÂ·E (2008)
19786     610    68954     3.5                    Up (2009)
19787     610    79132     4.0             Inception (2010)

                                                genres  mean_rating  \
0          Adventure|Animation|Children|Comedy|Fantasy     3.920930
1                                Action|Crime|Thriller     3.946078
2                                     Mystery|Thriller     3.975369
3                               Crime|Mystery|Thriller     4.237745
4                                     Action|Drama|War     4.031646
...                                                ...          ...
19783                             Crime|Drama|Thriller     4.252336
19784                          Action|Crime|Drama|IMAX     4.238255
19785      Adventure|Animation|Children|Romance|Sci-Fi     4.057692
19786               Adventure|Animation|Children|Drama     4.004762
19787  Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX     4.066434

       number_of_rating
0                   215
1                   102
2                   203
3                   204
4                   237
...                 ...
19783               107
19784               149
19785               104
19786               105
19787               143

[19788 rows x 7 columns]>
(1, 56)
{'Waterworld (1995)': -0.5494568911622643}

             movieId  movie_score
0  Waterworld (1995)    -0.549457